.getbowtied_call_to_action {
    @media only screen and (max-width: 1023px) {
        display: none;
    }

    bottom: 59px;
    display: block;
    position: fixed;
    right: 120px;
    z-index: 99999;

    .call_to_action_button {
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
        color: #ffffff !important;
        cursor: pointer;
        display: block;
        font-size: 12px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        float: left;
        line-height: 1;
        margin: 0;
        opacity: 1;
        padding: 9px 15px 6px;
        text-transform: uppercase;
        transition: all .6s ease;

        &:hover {
            opacity: 1;

            &.purchase_button {
                background-color: #7CB442;
            }

            &.message_button {
                background-color: #007FFF;
            }
        }

        .action-btn {
            svg {
        		margin: 0 5px 0 0;
        	}

            span {
                position: relative;
                top: -5px;
            }
        }

        &.purchase_button {
            animation: buttons-fade-in 0.4s ease 1.5s both;
    		margin-left: 15px;
    	}

        &.message_button {
            animation: buttons-fade-in 0.4s ease 1.7s both;
    	}
    }
}

@keyframes buttons-fade-in {
	0% {
		opacity: 0;
		transform: translate3d(0,100%,0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
